node_modules
dist
build
.env
*.log
.DS_Store
data/*.sqlite
data/*.sqlite-journal
data/*.sqlite-wal
data/*.sqlite-shm
coverage
.vite
client/dist
server/dist
shared/dist
release
desktop/server-bundle.cjs
prisma/*.db
**/*.tsbuildinfo
